.time-slot {
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

    .time-slot.selected {
        background-color: #007bff;
        color: #fff;
    }

.form-group {
    margin-bottom: 10px;
}

.appointmentBookContainer {
    border: 1px solid black;
    padding: 10px;
}

.appointmentDateContainer {
    border-right: 1px solid black;
}
