.container {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

#homeLink {
    position: absolute;
    top: calc(70% + 30px); 
    left: 50%;
    transform: translateX(-50%);
}

#navLinks {
    position: absolute;
    bottom: 10px;
}
