@model List<DoctorAppointment.Model.DoctorModel>
@using DoctorAppointment.Model

@{
    ViewBag.Title = "Home Page";
}
<link href="~/CSS/Home.css" rel="stylesheet" />

<h1>Doctors</h1>

<table class="doctor-table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Appointment Time</th>
            <th>Book Appointment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DoctorModel doctor in Model)
        {
            <tr>
                <td>@doctor.DoctorName</td>
                <td>
                    @{
                        DateTime baseDate = DateTime.Today; 
                        DateTime startTime = baseDate.Add(doctor.DayStartTime);
                        DateTime endTime = baseDate.Add(doctor.DayEndTime);
                    }
                    @startTime.ToString("hh:mm tt") - @endTime.ToString("hh:mm tt")
                </td>
                <td>
                    <button class="bookAppointmentBtn" data-doctor-id="@doctor.DoctorID">Book Appointment</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/Home.js"></script>
}
